$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;

// ---- project colors : 
// primary :: 

// text : 

$very_dark_desaturated_blue: hsl(238, 29%, 16%); 
$soft_red: hsl(14, 88%, 65%);

// background : 

$soft_violet: hsl(273, 75%, 66%); 
$soft_blue: hsl(240, 73%, 65%); 

// neutral :: 

// text : 

$very_dark_grayish_blue: hsl(237, 12%, 33%);
$dark_grayish_blue: hsl(240, 6%, 50%); 

// defiders : 

$light_grayish_blue: hsl(240, 5%, 91%); 
$light_grayish_blue_25: hsla(240, 5%, 91%, 0.25); 

